.favorites-container {
  margin-top: 85px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

  .no-favorites-image {
    margin-top: 90px;
  
  } 

  .no-favorites-text {
    font-size: 20px;
    color: white;
  }
  