.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    position: relative; 
    background: linear-gradient(to bottom, #f8d50c, #fff1b0);
    /* background-color: white; */
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    width: 85%;
    max-height: 70%;
    overflow-y: auto;
    /* border: 10px solid #ffffff; */
  }
  
  .close-button {
    background: transparent;
    border: none;
    font-size: 20px;
    position: absolute; 
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

.modal-content iframe {
  width: 100%
}  