/* Navbar.css */
:root {
  --primary-color: #333;/* Color primario */
  --secundary-color: rgb(47, 114, 41); /* Color secundario */
}

body {
  margin: 0;
  padding-top: 64px; /* Espacio para el navbar fijo */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 1rem;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Asegura que el navbar esté sobre otros contenidos */
}

.navbar-title {
  padding-left: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  align-items: center;
}

.navbar-link {
  background-color: #555;
  color: white;
  border: none;
  padding: 0.3rem 1rem;
  cursor: pointer;
  margin: 0 1rem;
  border-radius: 8px;
}

.navbar-link:hover {
  background-color: #777;
  color: white;
}

.navbar-button {
  background-color: #555;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin: 0 1rem;
}

.navbar-button:hover {
  background-color: #777;
}

.navbar-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 170px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 8px 8px 0 0;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(5px); }
  50% { transform: translateX(-5px); }
  75% { transform: translateX(5px); }
  100% { transform: translateX(0); }
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
}

.dropdown-content a:hover {
  border-radius: 8px 8px 0 0;
  background-color: #f1f1f1;
  font-size: 1.1rem;
  animation: shake 0.5s ease-in-out;
}

.dropdown-content a i {
  color: var(--secundary-color);
  font-size: 1.5rem;
  transition: transform 0.5s ease;
}

.dropdown-content a i:hover {
  transform: rotate(360deg);
  font-size: 1.7rem;
}

.navbar-dropdown:hover .dropdown-content {
  display: block;
}

.navbar-search {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

.navbar-search-input {
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
}

.navbar-search-button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #555;
  color: white;
  cursor: pointer;
  margin-left: 0.5rem;
  border-radius: 4px;
}

.navbar-search-button:hover {
  background-color: #777;
}

/* Mobile menu button */
.navbar-menu-button {
  display: none;
  background-color: #555;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0 2rem;
  cursor: pointer;
  font-size: 1.5rem;
}

.navbar-menu-button:hover {
  background-color: #777;
}

/* Mobile styles */
@media (max-width: 860px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #333;
    position: absolute;
    top: 64px;
    left: 0;
  }

  .navbar-links.open {
    display: flex;
  }

  .navbar-menu-button {
    display: block;
  }

  .navbar-search  {
    margin-bottom: 1rem;
  }

  .navbar-link,
  .navbar-button,
  .navbar-dropdown {
    margin: 1rem 0;
  }

  .dropdown-content {
    position: static;
    box-shadow: none;
    background-color: #333;
  }

  .dropdown-content a {
    color: white;
  }

  .dropdown-content a:hover {
    background-color: #444;
  }

}
