body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: #282c34;
  padding: 20px;
  color: white;
  text-align: center;
}

.main-content {
  flex: 1;
  padding: 20px;
}
